body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    margin-left: 10px;
    background-color: #ff7043;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button-container {
    display: flex;
    align-items: center;
}
